#login-user {
    margin: 8rem;
    .card  {
        margin-left: auto;
        margin-right: auto;
        width: 20rem;
    }

    .card-title {
        font-size: 2rem;
        font-weight: lighter;
        text-align: left;
    }

    .card-body {
        label {
            float: left;
        }

        input {
            border-radius: 0;
        }
    }

    .btn-danger {
        border-radius: 0;
        width: 17.5rem;
        margin-top: 1rem;
    }

    .action-text {
        text-decoration: underline;
        color: orange;
        padding-top: 1rem;
        cursor: pointer;
        text-align: right;
    }

    .invalid-feedback {
        text-align: right;
    }

    .password-help-text {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        color: rgb(33, 211, 157);
        margin-top: -0.3rem;
    }

    .form-label {
        margin-bottom: 0;
    }

    .form-group {
        margin-bottom: 0.7rem!important;
    }

    .error-tile {
        background-color: rgba(226, 70, 70, 0.596);
        margin-bottom: 0.4rem;
        padding: 0.4rem;
    }
}